<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CookieCheck</filter-name>
        <filter-class>Backend.CookieCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CookieCheck</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/department/*</url-pattern>
        <url-pattern>/doctor/*</url-pattern>
        <url-pattern>/patient/*</url-pattern>
        <url-pattern>/pharmacy/*</url-pattern>
        <url-pattern>/reception/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servelets.Login</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>sitehome.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>PatientRegister</servlet-name>
        <servlet-class>Servelets.PatientRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmp</servlet-name>
        <servlet-class>Servelets.admin.AddEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_register</servlet-name>
        <servlet-class>Servelets.admin.staff_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eApp</servlet-name>
        <servlet-class>Servelets.Patient.eApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>Servelets.Patient.History</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientRegister</servlet-name>
        <url-pattern>/PatientRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmp</servlet-name>
        <url-pattern>/admin/AddEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_register</servlet-name>
        <url-pattern>/staff_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eApp</servlet-name>
        <url-pattern>/patient/eApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/patient/history</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
